language: java
jdk:
- oraclejdk8

sudo: false
install: true

branches:
  only:
  - assignment6

script:
  - pwd
  - cd webapp
  - ./gradlew war
  - cd build/libs
  - ls -al
  - cd ../../..
  - pwd
  - ls -al
notifications:
  username:
    recipients:
      - chandra.ro@husky.neu.edu,bhalchandra.s@husky.neu.edu,bahcivan.a@husky.neu.edu,siddiqui.d@husky.neu.edu


after_success:
  - pwd
  - ls -al
  - mkdir codedeploy_artifacts
  - cp infrastruture/aws/codedeploy/*.yml .
  - zip -r csye6225-web-app-$TRAVIS_JOB_NUMBER.zip webapp/build/libs/ROOT.war *.yml
  - ls -al
  - mv csye6225-web-app-$TRAVIS_JOB_NUMBER.zip codedeploy_artifacts/
  - ls -al
  - pwd
  - cd codedeploy_artifacts
  - ls -al
  - pwd
  - cd ..
  - pwd
  - ls -al

deploy:
  - provider: s3
    local_dir: codedeploy_artifacts
    bucket: $s3_bucket
    region: us-east-1
    skip_cleanup: true
    access_key_id: $access_key_id
    secret_access_key: $secret_access_key
    on:
      branch: assignment6


