language: java
jdk:
- oraclejdk8

sudo: true
install: true

before_install:
 - chmod +x gradlew

script:
  - ./webapp/gradlew clean build -i --continue

deploy:
  provider: releases
  api_key: ${dd1c40758d1ed24a98170e0b17d09d5429bc7096}
  file: "build/libs/Project.war"
  skip_cleanup: true
  on:
    all_branches: true
    tags: true

notifications:
  username:
    recipients:
      - chandra.ro@husky.neu.edu,bhalchandra.s@husky.neu.edu,bahcivan.a@husky.n$

