language: java
jdk:
- oraclejdk8

sudo: false
install: true

script:
  - ./webapp/gradlew build

notifications:
  username:
    recipients:
      - chandra.ro@husky.neu.edu,bahcivan.a@husky.neu.edu
