language: java
jdk:
  - oraclejdk8

sudo: false
install: true
script:
  - ./gradlew war
  - ./gradlew build
notifications:
  username:
    recipients:
      - bahcivan.a@husky.neu.edu
      - siddiqui.d@husky.neu.edu
