<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header"/>
<head>
    <title>Security with Spring Boot</title>
</head>
<body>
<div th:replace="fragments/navigation :: navigation"/>
<div class="container">
    <p>
        Welcome to view all profiles!!!
    </p>
</div>
<hi >Enter email to receive link</hi>
<form th:action="@{/forgot-password}" method="POST">
    <div><label> Email : <input type="text" name="email"/> </label></div>
    <div><input type="submit" value="Forgot Password"/>    </div>
</form>
<div th:replace="fragments/footer :: footer"/>

</body>
</html>