<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div th:replace="fragments/header :: header"/>

<head>
    <title>>Welcome Security with Spring Boot!</title>
</head>
<body>
<h1>Enter email to receive link</h1>

<form th:action="@{/forgot-password}" method="POST">
    <div><label> Email : <input type="text" name="email"/> </label></div>
    <div><input type="submit" value="Forgot Password"/>    </div>
</form>
<div th:replace="fragments/footer :: footer"/>

</body>
</html>