<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div th:replace="fragments/header :: header"/>
<head>
    <title>Welcome Security with Spring Boot!</title>
</head>
<body>
<div th:replace="fragments/navigation :: navigation"/>

<h1 style="color:blue"> Hello! </h1>

<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>


<p>Date/Time: <span id="datetime"></span></p>

<script>
    var dt = new Date();
    document.getElementById("datetime").innerHTML = dt.toLocaleString();
</script>

<a style="color:blue" th:href="@{/}">Go to Home Page!</a>
<br/>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<br/>
<br/>
<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>
<a href="/upload">Upload Display Picture</a>


<div th:replace="fragments/footer :: footer"/>

</body>
</html>